{
  "presets": ["react-native", "env"],
  "plugins": [
    [
        "transform-object-rest-spread", {
            "useBuiltIns": true
        }
    ],
    "transform-class-properties",
    [
        "module-resolver", {
            "cwd": "babelrc",
            "alias": {
                "components": "./src/components",
                "views": "./src/views",
                "assets": "./src/assets",
                "store": "./src/store",
                "reducers": "./src/reducers",
                "actions": "./src/actions",
                "constants": "./src/constants"
            },
            "extensions": [".js", ".android.js", ".ios.js"]
        }
    ]
  ]
}
